**/.classpath
**/.project
**/.DS_Store
**/.settings/**
**/target
**/nbactions.xml
**/nb-configuration.xml
/java-certificate-management-providers/src/test/java/craterdog/security/ca.p12
/java-certificate-management-providers/src/test/java/craterdog/security/ca.pw
